In [103]:
import pandas as pd
import numpy as np
import sys
import re 
import datetime
%matplotlib inline
from matplotlib import pyplot as plt
import sklearn
from sklearn.decomposition import PCA
from sklearn.mixture import GMM
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.metrics import classification_report
print(sys.version)

3.5.2 |Anaconda 4.1.1 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [104]:
def day_time(x):
    y = ''
    if datetime.datetime.fromtimestamp(x['unix_timestamp_of_request_utc']).hour < 10:
        y = 'morning'
    elif datetime.datetime.fromtimestamp(x['unix_timestamp_of_request_utc']).hour >= 10 and datetime.datetime.fromtimestamp(x['unix_timestamp_of_request_utc']).hour < 16:
        y = 'midday'
    elif datetime.datetime.fromtimestamp(x['unix_timestamp_of_request_utc']).hour >= 16 and datetime.datetime.fromtimestamp(x['unix_timestamp_of_request_utc']).hour < 21:
        y = 'evening'
    else: 
        y = 'late_night'
    return y

day_values = ['morning', 'midday', 'evening', 'late_night']
    
def human_time(a):
    import datetime
    from datetime import date
    import calendar
    ### for the data in raop, return human time.  maybe the time of day matters
    a['human_readable_local_time'] = datetime.datetime.fromtimestamp(a['unix_timestamp_of_request']).strftime('%Y-%m-%d %H:%M:%S')
    a['human_readable_UTC_time'] = datetime.datetime.fromtimestamp(a['unix_timestamp_of_request_utc']).strftime('%Y-%m-%d %H:%M:%S')
    a['weekday'] = calendar.day_name[datetime.datetime.fromtimestamp(a['unix_timestamp_of_request']).weekday()].lower()
    a['month'] = datetime.datetime.fromtimestamp(a['unix_timestamp_of_request']).strftime("%B").lower()
    a['time_of_day'] = day_time(a)
    return a

In [105]:
a = pd.read_json('train.json')

In [106]:
b = a.apply(human_time, axis=1)

In [107]:
b.head()

,giver_username_if_known,number_of_downvotes_of_request_at_retrieval,number_of_upvotes_of_request_at_retrieval,post_was_edited,request_id,request_number_of_comments_at_retrieval,request_text,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,...,requester_upvotes_plus_downvotes_at_retrieval,requester_user_flair,requester_username,unix_timestamp_of_request,unix_timestamp_of_request_utc,human_readable_local_time,human_readable_UTC_time,weekday,month,time_of_day
0,N/A,0,1,0,t3_l25d7,0,Hi I am in need of food for my 4 children we a...,Hi I am in need of food for my 4 children we a...,Request Colorado Springs Help Us Please,0.000000,...,1,None,nickylvst,1317852607,1317849007,2011-10-05 15:10:07,2011-10-05 14:10:07,wednesday,october,midday
1,N/A,2,5,0,t3_rcb83,0,I spent the last money I had on gas today. Im ...,I spent the last money I had on gas today. Im ...,"[Request] California, No cash and I could use ...",501.111100,...,11168,None,fohacidal,1332652424,1332648824,2012-03-24 22:13:44,2012-03-24 21:13:44,saturday,march,late_night
2,N/A,0,3,0,t3_lpu5j,0,My girlfriend decided it would be a good idea ...,My girlfriend decided it would be a good idea ...,"[Request] Hungry couple in Dundee, Scotland wo...",0.000000,...,3,None,jacquibatman7,1319650094,1319646494,2011-10-26 10:28:14,2011-10-26 09:28:14,wednesday,october,morning
3,N/A,0,1,1,t3_mxvj3,4,"It's cold, I'n hungry, and to be completely ho...","It's cold, I'n hungry, and to be completely ho...","[Request] In Canada (Ontario), just got home f...",6.518438,...,81,None,4on_the_floor,1322855434,1322855434,2011-12-02 11:50:34,2011-12-02 11:50:34,friday,december,midday
4,N/A,6,6,0,t3_1i6486,5,hey guys:\n I love this sub. I think it's grea...,hey guys:\n I love this sub. I think it's grea...,[Request] Old friend coming to visit. Would LO...,162.063252,...,1887,None,Futuredogwalker,1373657691,1373654091,2013-07-12 12:34:51,2013-07-12 11:34:51,friday,july,midday

In [108]:
c = pd.read_json('test.json')

In [109]:
c.head()

,giver_username_if_known,request_id,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,requester_days_since_first_post_on_raop_at_request,requester_number_of_comments_at_request,requester_number_of_comments_in_raop_at_request,requester_number_of_posts_at_request,requester_number_of_posts_on_raop_at_request,requester_number_of_subreddits_at_request,requester_subreddits_at_request,requester_upvotes_minus_downvotes_at_request,requester_upvotes_plus_downvotes_at_request,requester_username,unix_timestamp_of_request,unix_timestamp_of_request_utc
0,N/A,t3_i8iy4,Hey all! It's about 95 degrees here and our ki...,[request] pregger gf 95 degree house and no fo...,42.083866,0.0,57,0,10,0,16,"[AskReddit, COents, Denver, DenverBroncos, Lib...",364,840,j_like,1308963419,1308959819
1,N/A,t3_1mfqi0,I didn't know a place like this exists! \n\nI ...,"[Request] Lost my job day after labour day, st...",223.784537,0.0,145,0,36,0,29,"[Android, AskReddit, GrandTheftAutoV, IAmA, Mi...",516,1448,0110110101101100,1379263523,1379259923
2,N/A,t3_lclka,Hi Reddit. Im a single dad having a really rou...,(Request) pizza for my kids please?,0.000000,0.0,0,0,0,0,0,[],0,0,singledad22601,1318636421,1318632821
3,N/A,t3_1jdgdj,Hi I just moved to Waltham MA from my home sta...,[Request] Just moved to a new state(Waltham MA...,481.311273,0.0,277,0,17,0,30,"[AdviceAnimals, Art, AskReddit, GetMotivated, ...",1058,2062,Neuronut,1375220282,1375216682
4,N/A,t3_t2qt4,We're just sitting here near indianapolis on o...,"[Request] Two girls in between paychecks, we'v...",0.000000,0.0,0,0,0,0,0,[],0,0,so_damn_hungry,1335934358,1335930758

In [110]:
#get the columns that are actually in the test set
df = b[list(c.columns)]

In [111]:
tstdf = c[list(c.columns)]

In [112]:
df1 = df.apply(human_time, axis = 1)
tstdf1 = tstdf.apply(human_time, axis = 1)

In [113]:
df1

,giver_username_if_known,request_id,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,requester_days_since_first_post_on_raop_at_request,requester_number_of_comments_at_request,requester_number_of_comments_in_raop_at_request,requester_number_of_posts_at_request,requester_number_of_posts_on_raop_at_request,...,requester_upvotes_minus_downvotes_at_request,requester_upvotes_plus_downvotes_at_request,requester_username,unix_timestamp_of_request,unix_timestamp_of_request_utc,human_readable_local_time,human_readable_UTC_time,weekday,month,time_of_day
0,N/A,t3_l25d7,Hi I am in need of food for my 4 children we a...,Request Colorado Springs Help Us Please,0.000000,0.000000,0,0,0,0,...,0,0,nickylvst,1317852607,1317849007,2011-10-05 15:10:07,2011-10-05 14:10:07,wednesday,october,midday
1,N/A,t3_rcb83,I spent the last money I had on gas today. Im ...,"[Request] California, No cash and I could use ...",501.111100,0.000000,0,0,15,0,...,34,116,fohacidal,1332652424,1332648824,2012-03-24 22:13:44,2012-03-24 21:13:44,saturday,march,late_night
2,N/A,t3_lpu5j,My girlfriend decided it would be a good idea ...,"[Request] Hungry couple in Dundee, Scotland wo...",0.000000,0.000000,0,0,0,0,...,0,0,jacquibatman7,1319650094,1319646494,2011-10-26 10:28:14,2011-10-26 09:28:14,wednesday,october,morning
3,N/A,t3_mxvj3,"It's cold, I'n hungry, and to be completely ho...","[Request] In Canada (Ontario), just got home f...",6.518438,0.000000,36,0,1,0,...,54,76,4on_the_floor,1322855434,1322855434,2011-12-02 11:50:34,2011-12-02 11:50:34,friday,december,midday
4,N/A,t3_1i6486,hey guys:\n I love this sub. I think it's grea...,[Request] Old friend coming to visit. Would LO...,162.063252,101.606505,140,2,14,0,...,1121,1733,Futuredogwalker,1373657691,1373654091,2013-07-12 12:34:51,2013-07-12 11:34:51,friday,july,midday
5,N/A,t3_14gmeb,Feeling under the weather so I called out off ...,[REQUEST] I'll give a two week xbox live code ...,582.776586,340.819329,63,1,24,0,...,234,814,jamespweb,1354911700,1354911700,2012-12-07 12:21:40,2012-12-07 12:21:40,friday,december,midday
6,N/A,t3_wcw5m,We're in Tampa Florida...moving to Ybor on Fri...,[Request] Help me give back to my roomies on F...,0.000000,0.000000,0,0,0,0,...,0,0,usftampa,1341969695,1341966095,2012-07-10 18:21:35,2012-07-10 17:21:35,tuesday,july,evening
7,N/A,t3_of16d,"(Request) I have given a few things on reddit,...","random acts of pizza, i have a request, if not...",153.249560,0.000000,0,0,34,0,...,1153,7055,thebraus,1326429793,1326429793,2012-01-12 20:43:13,2012-01-12 20:43:13,thursday,january,evening
8,N/A,t3_1ioo1k,"Wasnt really sure what to put as the title, un...","[Request] Queensland Australia, Recently moved...",366.525625,0.000000,57,0,5,0,...,189,331,The__Doctor__,1374309042,1374305442,2013-07-20 01:30:42,2013-07-20 00:30:42,saturday,july,morning
9,N/A,t3_k0l9j,"Austin, Texas\n\nMy two roommates and I are hu...",[REQUEST]We're in need of some om noms...,348.920428,0.000000,2,0,0,0,...,6,6,biffle,1314827982,1314824382,2011-08-31 14:59:42,2011-08-31 13:59:42,wednesday,august,midday
10,N/A,t3_16upcl,I've been unemployed but working odd jobs. I w...,[REQUEST] Bummed out in Chicago. Too broke to ...,52.308773,0.000000,93,0,2,0,...,1738,2634,seabass86,1358559286,1358559286,2013-01-18 17:34:46,2013-01-18 17:34:46,friday,january,evening
11,N/A,t3_z7nxl,"Been a lurker for some time, figured I'd give ...",[Request] Would love a pizza tonight,0.000000,0.000000,0,0,0,0,...,0,0,TheInternetIsNaughty,1346555770,1346552170,2012-09-01 20:16:10,2012-09-01 19:16:10,saturday,september,evening
12,N/A,t3_j1w49,I am a stay at home mom of two kids i live wit...,"[REQUEST] Georgia, USA Please help me family o...",0.000000,0.000000,0,0,0,0,...,0,0,bjessicarenee,1311833033,1311829433,2011-07-27 23:03:53,2011-07-27 22:03:53,wednesday,july,late_night
13,N/A,t3_u90cl,"Hey recently moved downtown, but still working...",[Request] Broke in ATL.,296.491979,0.000000,45,0,17,0,...,108,200,perjunk,1338232580,1338228980,2012-05-28 12:16:20,2012-05-28 11:16:20,monday,may,midday
14,N/A,t3_nrc9b,I have never requested a pizza before but I've...,[Request] Make my bro in law a believer!,285.121748,113.039178,5,2,3,0,...,26,48,felixvbaldr,1324924969,1324924969,2011-12-26 10:42:49,2011-12-26 10:42:49,monday,december,midday
15,N/A,t3_icfj2,You would make me a very happy person.,"[Request] I am not a pothead nor a beggar, but...",91.678553,0.000000,324,0,36,0,...,3877,28365,panicbomb44,1309369327,1309365727,2011-06-29 10:42:07,2011-06-29 09:42:07,wednesday,june,morning
16,N/A,t3_13r18s,"It would be much appreciated, and payed forwar...","[request] Cookeville, TN. My dog recently died...",66.158565,56.083368,8,2,2,0,...,11,31,Transparent_Taco,1353825093,1353825093,2012-11-24 22:31:33,2012-11-24 22:31:33,saturday,november,late_night
17,N/A,t3_1948qi,We are a group of five local community college...,[Request] Broke College Kids and Retro Gaming ...,16.406759,3.438310,4,1,0,0,...,5,9,Fish_Cheese,1361680268,1361680268,2013-02-23 20:31:08,2013-02-23 20:31:08,saturday,february,evening
18,ded_reckoning,t3_zpzly,-I'm located in Virginia. It would be great to...,"[Request] Virginia. Girlfriend and I our sick,...",183.933067,0.000000,50,0,5,0,...,105,179,tapedeckghost,1347392498,1347388898,2012-09-11 12:41:38,2012-09-11 11:41:38,tuesday,september,midday
19,N/A,t3_1ltals,Been looking for work for 2 weeks since moving...,[Request] Just got back from a job interview t...,556.095359,0.000000,145,0,22,0,...,505,857,Undersurface,1378422607,1378419007,2013-09-05 16:10:07,2013-09-05 15:10:07,thursday,september,midday
20,N/A,t3_llbbt,I can't draw.. at all but I'd really love a pi...,"[REQUEST] I can't draw for my life, but I'd lo...",0.000000,0.000000,0,0,0,0,...,0,0,DrawForFood,1319318602,1319315002,2011-10-22 14:23:22,2011-10-22 13:23:22,saturday,october,midday
21,N/A,t3_or51b,"We're a group of 4 college students, who don't...",[REQUEST] Broke College StudENTs stricken with...,1030.386030,0.000000,348,0,17,0,...,1211,1907,MathIsDelicious,1327209998,1327209998,2012-01-21 21:26:38,2012-01-21 21:26:38,saturday,january,late_night
22,N/A,t3_leh9u,I hope I'm doing this right. I waited before p...,[Request] Maryland,0.061146,0.000000,1,0,0,0,...,1,1,mdterrapins,1318809258,1318805658,2011-10-16 16:54:18,2011-10-16 15:54:18,sunday,october,midday
23,N/A,t3_kfk0a,I have an O-Chem midterm in about 3.5 hours (2...,[Request] O-Chem Midterm (before or after),0.000000,0.000000,0,0,0,0,...,0,0,VordLader,1316025306,1316021706,2011-09-14 11:35:06,2011-09-14 10:35:06,wednesday,september,midday
24,N/A,t3_n6guj,"Starving writer, here\n\nlocated in Savannah\n...",[REQUEST] Will write haiku for pizza!,354.716910,0.000000,0,0,63,0,...,238,602,Wordwench,1323453792,1323453792,2011-12-09 10:03:12,2011-12-09 10:03:12,friday,december,midday
25,N/A,t3_xyddn,"Hiya~\n\nThis isn't my main account, but I hav...","[Request] 17-year-old, broke, could use some c...",294.138021,0.000000,36,0,2,0,...,616,1070,old_journal,1344543656,1344540056,2012-08-09 13:20:56,2012-08-09 12:20:56,thursday,august,midday
26,N/A,t3_px5vq,"I got an inner ear infection three weeks ago, ...",[Request] Been sick and unable to work for thr...,5.732199,0.000000,3,0,0,0,...,17,21,ipopiad,1329702541,1329702541,2012-02-19 17:49:01,2012-02-19 17:49:01,sunday,february,evening
27,N/A,t3_yd17n,I get paid next Thursday I just a move out on ...,[request] Virginia USA just moved out could re...,0.000000,0.000000,0,0,0,0,...,0,0,yungbroccoli,1345182455,1345178855,2012-08-16 22:47:35,2012-08-16 21:47:35,thursday,august,late_night
28,N/A,t3_14t8pe,I have a CSGO match and will be practicing unt...,[Request] TEXAS USA! Anybody into video games ...,386.851667,0.000000,54,0,12,0,...,724,1974,TramMonkey,1355440832,1355440832,2012-12-13 15:20:32,2012-12-13 15:20:32,thursday,december,midday
29,N/A,t3_12ge8l,Hi RAOP - I just came across this subreddit an...,[REQUEST] UK - Glasgow. Student having a rough...,368.916053,0.000000,63,0,7,0,...,1577,4403,itsbehindyou,1351778305,1351774705,2012-11-01 06:58:25,2012-11-01 05:58:25,thursday,november,morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4010,N/A,t3_ucqi3,My 20th birthday was the 14th (Of may) and I w...,[Request] Having a bad luck streak. (Des Moine...,110.655451,0.000000,26,0,3,0,...,27,151,Suicidal_Inspirant,1338416663,1338413063,2012-05-30 15:24:23,2012-05-30 14:24:23,wednesday,may,midday
4011,N/A,t3_nfga2,"Hi guys-- I'm a college student in Atlanta, Ge...",[Request] College student wanting to surprise ...,44.815417,0.000000,85,0,29,0,...,4793,36297,nutri-matic,1324062099,1324062099,2011-12-16 11:01:39,2011-12-16 11:01:39,friday,december,midday
4012,stevevstheworld,t3_so8v3,"Hi, I've never requested this before and I fee...","[REQUEST] Essex Junction, VT - Nearly broke, n...",565.843090,24.053380,74,1,3,0,...,369,703,jennyinstereo,1335197630,1335194030,2012-04-23 09:13:50,2012-04-23 08:13:50,monday,april,morning
4013,N/A,t3_1lefgo,"We dont tend to have fast food pizza, we make ...","[Request] No manipulative sob story, Id just l...",473.575671,1.046516,736,1,187,0,...,23593,194891,BisFitty,1377875865,1377872265,2013-08-30 08:17:45,2013-08-30 07:17:45,friday,august,morning
4014,N/A,t3_m2ot3,"We ate lunch yesterday around noon, then proce...",[Request] Haven't eaten since lunch yesterday ...,202.109965,0.000000,0,0,28,0,...,219,931,DisplacedLeprechaun,1320612073,1320612073,2011-11-06 12:41:13,2011-11-06 12:41:13,sunday,november,midday
4015,N/A,t3_ilrar,I've been having such a down week worrying abo...,(request) having an absolutely horrible week a...,0.000000,0.000000,0,0,0,0,...,0,0,dirtyharry8,1310328023,1310324423,2011-07-10 13:00:23,2011-07-10 12:00:23,sunday,july,midday
4016,N/A,t3_1ld5j6,"So, a friend got screwed out of a place tonigh...",[Request] Need help for friend of mine,462.858692,0.000000,174,0,13,0,...,649,1083,Sprgmr,1377822385,1377818785,2013-08-29 17:26:25,2013-08-29 16:26:25,thursday,august,evening
4017,N/A,t3_o2vp7,I just arrived back at school after visting my...,[request] hungry student in Michigan,126.661435,0.000000,5,0,0,0,...,6,38,JohnSingularity,1325706688,1325706688,2012-01-04 11:51:28,2012-01-04 11:51:28,wednesday,january,midday
4018,N/A,t3_12einf,"Hey all, I'm paying for my own college and try...",[Request] U of Illinois student- No room in th...,195.616701,7.602037,123,3,20,0,...,1177,1889,jshima2,1351702142,1351698542,2012-10-31 09:49:02,2012-10-31 08:49:02,wednesday,october,morning
4019,N/A,t3_11e5xk,My husband just started a new job but until we...,[REQUEST] St. Louis USA - Needing to feed my c...,0.000000,0.000000,0,0,0,0,...,0,0,skirtgirlie,1350091342,1350087742,2012-10-12 18:22:22,2012-10-12 17:22:22,friday,october,evening
4020,N/A,t3_1l2skl,"As the title says, it's been a rough month for...","[Request] Tallahasse, FL - It's been a rough m...",747.253287,0.000000,203,0,33,0,...,1884,4410,cyb1n,1377470009,1377466409,2013-08-25 15:33:29,2013-08-25 14:33:29,sunday,august,midday
4021,N/A,t3_1lvmjt,"Just got done paying this months bill, rent, a...",[Request] Hungry and broke college student,389.931319,0.000000,91,0,15,0,...,303,469,dyeam,1378506400,1378502800,2013-09-06 15:26:40,2013-09-06 14:26:40,friday,september,midday
4022,N/A,t3_1ixemj,,[Request] Just rode my bike home from work in ...,102.422060,0.000000,64,0,8,0,...,297,511,Idontsellcrack,1374634634,1374631034,2013-07-23 19:57:14,2013-07-23 18:57:14,tuesday,july,evening
4023,N/A,t3_1io64d,"So, in light of the article that has been floa...",[Request] Finally made the decision to leave a...,397.019595,0.000000,74,0,14,0,...,557,857,cubiczoeconia,1374287987,1374284387,2013-07-19 19:39:47,2013-07-19 18:39:47,friday,july,evening
4024,hrnmyd,t3_oo525,*,"[request] Unemployment check never came, waiti...",1449.849907,0.000000,0,0,31,0,...,61,415,iceschade,1327021214,1327021214,2012-01-19 17:00:14,2012-01-19 17:00:14,thursday,january,evening
4025,N/A,t3_1nvvnk,"I've been cleaning all day, and waiting for th...",[Request] My daughter got me hooked on Happy S...,369.915787,14.990602,365,1,14,0,...,2859,4339,Liakela,1381144383,1381115583,2013-10-07 04:13:03,2013-10-06 20:13:03,monday,october,evening
4026,N/A,t3_1ehki4,"Freelance graphic designer here, looking to he...","[Request] Anyone in need of a logo, flyer, pam...",861.913877,574.975035,975,8,78,1,...,6448,18808,donttakemywordforit,1368754906,1368751306,2013-05-16 18:41:46,2013-05-16 17:41:46,thursday,may,evening
4027,N/A,t3_v259r,,"[request] Quebec, Canada.\nWe want to chill wi...",291.992731,0.000000,13,0,1,0,...,63,115,tobygee,1339706026,1339702426,2012-06-14 13:33:46,2012-06-14 12:33:46,thursday,june,midday
4028,N/A,t3_wo39k,I just got back to work. My first day was toda...,[request] I am a single father just complete m...,118.104606,0.000000,168,0,2,0,...,3189,4487,Matt24138,1342482260,1342478660,2012-07-16 16:44:20,2012-07-16 15:44:20,monday,july,midday
4029,N/A,t3_ixx53,I'm home from college for the summer and my pa...,[Request]Broke after getting screwed over by l...,106.984676,0.000000,120,0,12,0,...,635,1585,cl0ckw0rk0rang3,1311460030,1311456430,2011-07-23 15:27:10,2011-07-23 14:27:10,saturday,july,midday
4030,N/A,t3_1num5h,Now all I want is Pizza Hut. :),[Request] Passed up free tickets to the Packer...,80.854664,69.722106,103,8,15,2,...,689,1265,uncamad,1381107578,1381078778,2013-10-06 17:59:38,2013-10-06 09:59:38,sunday,october,morning
4031,N/A,t3_pvqb0,I am feeling depressed. I do not know if it is...,"[request] Jacksonville, Florida USA I would lo...",88.834942,0.000000,7,0,0,0,...,17,43,lawyerman13,1329604662,1329604662,2012-02-18 14:37:42,2012-02-18 14:37:42,saturday,february,midday
4032,N/A,t3_1bna25,\nThere's a local hotspot that takes orders un...,[REQUEST] College dudes in Long Beach on sprin...,274.751366,0.000000,134,0,7,0,...,856,1222,goldenbear_,1365060193,1365056593,2013-04-04 00:23:13,2013-04-03 23:23:13,thursday,april,late_night
4033,N/A,t3_1im2is,I wanted to surprise my roommate and girlfrien...,"[Request] Morganton, NC Looking for some lunch...",493.556609,0.000000,250,0,4,0,...,777,1215,zerocoal,1374213061,1374209461,2013-07-18 22:51:01,2013-07-18 21:51:01,thursday,july,late_night
4034,N/A,t3_j853t,"No sob story here, just a hungry guy after wor...","[Request] Hungry after work, could use a pizza",52.097118,0.000000,0,0,7,0,...,119,313,Musika13,1312410516,1312406916,2011-08-03 15:28:36,2011-08-03 14:28:36,wednesday,august,midday
4035,N/A,t3_1hpv57,Is anyone out there kind enough to help me out...,[REQUEST] Anyone help a recent college grad wh...,0.000000,0.000000,0,0,0,0,...,0,0,bstewart88,1373068818,1373065218,2013-07-05 17:00:18,2013-07-05 16:00:18,friday,july,evening
4036,N/A,t3_1lzcwr,If someone could hook me up with a $15 gift ca...,[Request][USA] Papa Johns is giving away one f...,658.366863,638.983264,50,4,9,0,...,738,2974,puddems,1378667174,1378663574,2013-09-08 12:06:14,2013-09-08 11:06:14,sunday,september,midday
4037,N/A,t3_1f77ml,"Have today off, soo I'll be stuck in the house...","[REQUEST][MI,USA] Day off, would love pizza fo...",410.551736,0.000000,61,0,6,0,...,1252,5634,Candlejac88,1369754714,1369751114,2013-05-28 08:25:14,2013-05-28 07:25:14,tuesday,may,morning
4038,N/A,t3_q875f,"I've never done anything like this before, but...",[Request] Nashua Nh Mother of one hungry 2 yea...,0.000000,0.000000,0,0,0,0,...,5,7,nhcollegechic,1330357920,1330357920,2012-02-27 07:52:00,2012-02-27 07:52:00,monday,february,morning
4039,N/A,t3_189pw1,"Like the title says, had to pay an unexpected ...","[Request] USA WA. Unexpected bill, couldn't go...",572.314942,0.000000,523,0,20,0,...,3212,8424,Ellebean,1360535063,1360535063,2013-02-10 14:24:23,2013-02-10 14:24:23,sunday,february,midday

In [114]:
print('Train dataset columns')
df1.columns
print('Test dataset columns')
tstdf1.columns

Train dataset columns
Test dataset columns

Index(['giver_username_if_known', 'request_id', 'request_text_edit_aware',
       'request_title', 'requester_account_age_in_days_at_request',
       'requester_days_since_first_post_on_raop_at_request',
       'requester_number_of_comments_at_request',
       'requester_number_of_comments_in_raop_at_request',
       'requester_number_of_posts_at_request',
       'requester_number_of_posts_on_raop_at_request',
       'requester_number_of_subreddits_at_request',
       'requester_subreddits_at_request',
       'requester_upvotes_minus_downvotes_at_request',
       'requester_upvotes_plus_downvotes_at_request', 'requester_username',
       'unix_timestamp_of_request', 'unix_timestamp_of_request_utc',
       'human_readable_local_time', 'human_readable_UTC_time', 'weekday',
       'month', 'time_of_day'],
      dtype='object')

In [18]:
#items to binarize:
# all categorical
# requester_subreddits_at_request
# weekday
# month
# time_of_day

#add-ons:
#make bins for numeric cols to coerece into categorical
# requester_account_age_in_days_at_request
# requester_days_since_first_post_on_raop_at_request
# requester_number_of_comments_at_request
# requester_number_of_comments_in_raop_at_request
# requester_number_of_posts_at_request
# requester_number_of_posts_on_raop_at_request
# requester_number_of_subreddits_at_request
# requester_upvotes_minus_downvotes_at_request
# requester_upvotes_plus_downvotes_at_request

In [115]:
df1.head()

,giver_username_if_known,request_id,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,requester_days_since_first_post_on_raop_at_request,requester_number_of_comments_at_request,requester_number_of_comments_in_raop_at_request,requester_number_of_posts_at_request,requester_number_of_posts_on_raop_at_request,...,requester_upvotes_minus_downvotes_at_request,requester_upvotes_plus_downvotes_at_request,requester_username,unix_timestamp_of_request,unix_timestamp_of_request_utc,human_readable_local_time,human_readable_UTC_time,weekday,month,time_of_day
0,N/A,t3_l25d7,Hi I am in need of food for my 4 children we a...,Request Colorado Springs Help Us Please,0.000000,0.000000,0,0,0,0,...,0,0,nickylvst,1317852607,1317849007,2011-10-05 15:10:07,2011-10-05 14:10:07,wednesday,october,midday
1,N/A,t3_rcb83,I spent the last money I had on gas today. Im ...,"[Request] California, No cash and I could use ...",501.111100,0.000000,0,0,15,0,...,34,116,fohacidal,1332652424,1332648824,2012-03-24 22:13:44,2012-03-24 21:13:44,saturday,march,late_night
2,N/A,t3_lpu5j,My girlfriend decided it would be a good idea ...,"[Request] Hungry couple in Dundee, Scotland wo...",0.000000,0.000000,0,0,0,0,...,0,0,jacquibatman7,1319650094,1319646494,2011-10-26 10:28:14,2011-10-26 09:28:14,wednesday,october,morning
3,N/A,t3_mxvj3,"It's cold, I'n hungry, and to be completely ho...","[Request] In Canada (Ontario), just got home f...",6.518438,0.000000,36,0,1,0,...,54,76,4on_the_floor,1322855434,1322855434,2011-12-02 11:50:34,2011-12-02 11:50:34,friday,december,midday
4,N/A,t3_1i6486,hey guys:\n I love this sub. I think it's grea...,[Request] Old friend coming to visit. Would LO...,162.063252,101.606505,140,2,14,0,...,1121,1733,Futuredogwalker,1373657691,1373654091,2013-07-12 12:34:51,2013-07-12 11:34:51,friday,july,midday

In [116]:
tstdf1.head()

,giver_username_if_known,request_id,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,requester_days_since_first_post_on_raop_at_request,requester_number_of_comments_at_request,requester_number_of_comments_in_raop_at_request,requester_number_of_posts_at_request,requester_number_of_posts_on_raop_at_request,...,requester_upvotes_minus_downvotes_at_request,requester_upvotes_plus_downvotes_at_request,requester_username,unix_timestamp_of_request,unix_timestamp_of_request_utc,human_readable_local_time,human_readable_UTC_time,weekday,month,time_of_day
0,N/A,t3_i8iy4,Hey all! It's about 95 degrees here and our ki...,[request] pregger gf 95 degree house and no fo...,42.083866,0.0,57,0,10,0,...,364,840,j_like,1308963419,1308959819,2011-06-24 17:56:59,2011-06-24 16:56:59,friday,june,evening
1,N/A,t3_1mfqi0,I didn't know a place like this exists! \n\nI ...,"[Request] Lost my job day after labour day, st...",223.784537,0.0,145,0,36,0,...,516,1448,0110110101101100,1379263523,1379259923,2013-09-15 09:45:23,2013-09-15 08:45:23,sunday,september,morning
2,N/A,t3_lclka,Hi Reddit. Im a single dad having a really rou...,(Request) pizza for my kids please?,0.000000,0.0,0,0,0,0,...,0,0,singledad22601,1318636421,1318632821,2011-10-14 16:53:41,2011-10-14 15:53:41,friday,october,midday
3,N/A,t3_1jdgdj,Hi I just moved to Waltham MA from my home sta...,[Request] Just moved to a new state(Waltham MA...,481.311273,0.0,277,0,17,0,...,1058,2062,Neuronut,1375220282,1375216682,2013-07-30 14:38:02,2013-07-30 13:38:02,tuesday,july,midday
4,N/A,t3_t2qt4,We're just sitting here near indianapolis on o...,"[Request] Two girls in between paychecks, we'v...",0.000000,0.0,0,0,0,0,...,0,0,so_damn_hungry,1335934358,1335930758,2012-05-01 21:52:38,2012-05-01 20:52:38,tuesday,may,evening

In [117]:
b = pd.get_dummies(df1['weekday'])
tstb = pd.get_dummies(tstdf1['weekday'])

In [118]:
c = pd.get_dummies(df1['time_of_day'])
tstc = pd.get_dummies(tstdf1['time_of_day'])

In [119]:
d= pd.get_dummies(df1['month'])
tstd= pd.get_dummies(tstdf1['month'])

In [120]:
df2 = pd.concat([df1,b,c,d], axis=1)
tstdf2 = pd.concat([tstdf1,tstb,tstc,tstd], axis=1)

In [121]:
df2

,giver_username_if_known,request_id,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,requester_days_since_first_post_on_raop_at_request,requester_number_of_comments_at_request,requester_number_of_comments_in_raop_at_request,requester_number_of_posts_at_request,requester_number_of_posts_on_raop_at_request,...,december,february,january,july,june,march,may,november,october,september
0,N/A,t3_l25d7,Hi I am in need of food for my 4 children we a...,Request Colorado Springs Help Us Please,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,N/A,t3_rcb83,I spent the last money I had on gas today. Im ...,"[Request] California, No cash and I could use ...",501.111100,0.000000,0,0,15,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,N/A,t3_lpu5j,My girlfriend decided it would be a good idea ...,"[Request] Hungry couple in Dundee, Scotland wo...",0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,N/A,t3_mxvj3,"It's cold, I'n hungry, and to be completely ho...","[Request] In Canada (Ontario), just got home f...",6.518438,0.000000,36,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,N/A,t3_1i6486,hey guys:\n I love this sub. I think it's grea...,[Request] Old friend coming to visit. Would LO...,162.063252,101.606505,140,2,14,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,N/A,t3_14gmeb,Feeling under the weather so I called out off ...,[REQUEST] I'll give a two week xbox live code ...,582.776586,340.819329,63,1,24,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,N/A,t3_wcw5m,We're in Tampa Florida...moving to Ybor on Fri...,[Request] Help me give back to my roomies on F...,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,N/A,t3_of16d,"(Request) I have given a few things on reddit,...","random acts of pizza, i have a request, if not...",153.249560,0.000000,0,0,34,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,N/A,t3_1ioo1k,"Wasnt really sure what to put as the title, un...","[Request] Queensland Australia, Recently moved...",366.525625,0.000000,57,0,5,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,N/A,t3_k0l9j,"Austin, Texas\n\nMy two roommates and I are hu...",[REQUEST]We're in need of some om noms...,348.920428,0.000000,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,N/A,t3_16upcl,I've been unemployed but working odd jobs. I w...,[REQUEST] Bummed out in Chicago. Too broke to ...,52.308773,0.000000,93,0,2,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,N/A,t3_z7nxl,"Been a lurker for some time, figured I'd give ...",[Request] Would love a pizza tonight,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,N/A,t3_j1w49,I am a stay at home mom of two kids i live wit...,"[REQUEST] Georgia, USA Please help me family o...",0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,N/A,t3_u90cl,"Hey recently moved downtown, but still working...",[Request] Broke in ATL.,296.491979,0.000000,45,0,17,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,N/A,t3_nrc9b,I have never requested a pizza before but I've...,[Request] Make my bro in law a believer!,285.121748,113.039178,5,2,3,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,N/A,t3_icfj2,You would make me a very happy person.,"[Request] I am not a pothead nor a beggar, but...",91.678553,0.000000,324,0,36,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16,N/A,t3_13r18s,"It would be much appreciated, and payed forwar...","[request] Cookeville, TN. My dog recently died...",66.158565,56.083368,8,2,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17,N/A,t3_1948qi,We are a group of five local community college...,[Request] Broke College Kids and Retro Gaming ...,16.406759,3.438310,4,1,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,ded_reckoning,t3_zpzly,-I'm located in Virginia. It would be great to...,"[Request] Virginia. Girlfriend and I our sick,...",183.933067,0.000000,50,0,5,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,N/A,t3_1ltals,Been looking for work for 2 weeks since moving...,[Request] Just got back from a job interview t...,556.095359,0.000000,145,0,22,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20,N/A,t3_llbbt,I can't draw.. at all but I'd really love a pi...,"[REQUEST] I can't draw for my life, but I'd lo...",0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21,N/A,t3_or51b,"We're a group of 4 college students, who don't...",[REQUEST] Broke College StudENTs stricken with...,1030.386030,0.000000,348,0,17,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,N/A,t3_leh9u,I hope I'm doing this right. I waited before p...,[Request] Maryland,0.061146,0.000000,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,N/A,t3_kfk0a,I have an O-Chem midterm in about 3.5 hours (2...,[Request] O-Chem Midterm (before or after),0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,N/A,t3_n6guj,"Starving writer, here\n\nlocated in Savannah\n...",[REQUEST] Will write haiku for pizza!,354.716910,0.000000,0,0,63,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,N/A,t3_xyddn,"Hiya~\n\nThis isn't my main account, but I hav...","[Request] 17-year-old, broke, could use some c...",294.138021,0.000000,36,0,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,N/A,t3_px5vq,"I got an inner ear infection three weeks ago, ...",[Request] Been sick and unable to work for thr...,5.732199,0.000000,3,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,N/A,t3_yd17n,I get paid next Thursday I just a move out on ...,[request] Virginia USA just moved out could re...,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,N/A,t3_14t8pe,I have a CSGO match and will be practicing unt...,[Request] TEXAS USA! Anybody into video games ...,386.851667,0.000000,54,0,12,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,N/A,t3_12ge8l,Hi RAOP - I just came across this subreddit an...,[REQUEST] UK - Glasgow. Student having a rough...,368.916053,0.000000,63,0,7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4010,N/A,t3_ucqi3,My 20th birthday was the 14th (Of may) and I w...,[Request] Having a bad luck streak. (Des Moine...,110.655451,0.000000,26,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4011,N/A,t3_nfga2,"Hi guys-- I'm a college student in Atlanta, Ge...",[Request] College student wanting to surprise ...,44.815417,0.000000,85,0,29,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4012,stevevstheworld,t3_so8v3,"Hi, I've never requested this before and I fee...","[REQUEST] Essex Junction, VT - Nearly broke, n...",565.843090,24.053380,74,1,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4013,N/A,t3_1lefgo,"We dont tend to have fast food pizza, we make ...","[Request] No manipulative sob story, Id just l...",473.575671,1.046516,736,1,187,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4014,N/A,t3_m2ot3,"We ate lunch yesterday around noon, then proce...",[Request] Haven't eaten since lunch yesterday ...,202.109965,0.000000,0,0,28,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4015,N/A,t3_ilrar,I've been having such a down week worrying abo...,(request) having an absolutely horrible week a...,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4016,N/A,t3_1ld5j6,"So, a friend got screwed out of a place tonigh...",[Request] Need help for friend of mine,462.858692,0.000000,174,0,13,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,N/A,t3_o2vp7,I just arrived back at school after visting my...,[request] hungry student in Michigan,126.661435,0.000000,5,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4018,N/A,t3_12einf,"Hey all, I'm paying for my own college and try...",[Request] U of Illinois student- No room in th...,195.616701,7.602037,123,3,20,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4019,N/A,t3_11e5xk,My husband just started a new job but until we...,[REQUEST] St. Louis USA - Needing to feed my c...,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4020,N/A,t3_1l2skl,"As the title says, it's been a rough month for...","[Request] Tallahasse, FL - It's been a rough m...",747.253287,0.000000,203,0,33,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4021,N/A,t3_1lvmjt,"Just got done paying this months bill, rent, a...",[Request] Hungry and broke college student,389.931319,0.000000,91,0,15,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4022,N/A,t3_1ixemj,,[Request] Just rode my bike home from work in ...,102.422060,0.000000,64,0,8,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4023,N/A,t3_1io64d,"So, in light of the article that has been floa...",[Request] Finally made the decision to leave a...,397.019595,0.000000,74,0,14,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4024,hrnmyd,t3_oo525,*,"[request] Unemployment check never came, waiti...",1449.849907,0.000000,0,0,31,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4025,N/A,t3_1nvvnk,"I've been cleaning all day, and waiting for th...",[Request] My daughter got me hooked on Happy S...,369.915787,14.990602,365,1,14,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4026,N/A,t3_1ehki4,"Freelance graphic designer here, looking to he...","[Request] Anyone in need of a logo, flyer, pam...",861.913877,574.975035,975,8,78,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4027,N/A,t3_v259r,,"[request] Quebec, Canada.\nWe want to chill wi...",291.992731,0.000000,13,0,1,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4028,N/A,t3_wo39k,I just got back to work. My first day was toda...,[request] I am a single father just complete m...,118.104606,0.000000,168,0,2,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4029,N/A,t3_ixx53,I'm home from college for the summer and my pa...,[Request]Broke after getting screwed over by l...,106.984676,0.000000,120,0,12,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4030,N/A,t3_1num5h,Now all I want is Pizza Hut. :),[Request] Passed up free tickets to the Packer...,80.854664,69.722106,103,8,15,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4031,N/A,t3_pvqb0,I am feeling depressed. I do not know if it is...,"[request] Jacksonville, Florida USA I would lo...",88.834942,0.000000,7,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4032,N/A,t3_1bna25,\nThere's a local hotspot that takes orders un...,[REQUEST] College dudes in Long Beach on sprin...,274.751366,0.000000,134,0,7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4033,N/A,t3_1im2is,I wanted to surprise my roommate and girlfrien...,"[Request] Morganton, NC Looking for some lunch...",493.556609,0.000000,250,0,4,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4034,N/A,t3_j853t,"No sob story here, just a hungry guy after wor...","[Request] Hungry after work, could use a pizza",52.097118,0.000000,0,0,7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4035,N/A,t3_1hpv57,Is anyone out there kind enough to help me out...,[REQUEST] Anyone help a recent college grad wh...,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4036,N/A,t3_1lzcwr,If someone could hook me up with a $15 gift ca...,[Request][USA] Papa Johns is giving away one f...,658.366863,638.983264,50,4,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4037,N/A,t3_1f77ml,"Have today off, soo I'll be stuck in the house...","[REQUEST][MI,USA] Day off, would love pizza fo...",410.551736,0.000000,61,0,6,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4038,N/A,t3_q875f,"I've never done anything like this before, but...",[Request] Nashua Nh Mother of one hungry 2 yea...,0.000000,0.000000,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4039,N/A,t3_189pw1,"Like the title says, had to pay an unexpected ...","[Request] USA WA. Unexpected bill, couldn't go...",572.314942,0.000000,523,0,20,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
del df2['month']
del tstdf2['month']

In [123]:
del df2['weekday']
del tstdf2['weekday']

In [124]:
del df2['time_of_day']
del tstdf2['time_of_day']

In [125]:
subr = []
for x in df1['requester_subreddits_at_request']:
    for i, t in enumerate(x):
            subr.append(t)
subr = set(subr)

tstsubr = []
for x in tstdf1['requester_subreddits_at_request']:
    for i, t in enumerate(x):
            tstsubr.append(t)
tstsubr = set(tstsubr)

In [126]:
print(len(subr),len(tstsubr) )

7484 4431

In [127]:
df3 = pd.get_dummies(df2['requester_subreddits_at_request'].apply(pd.Series).stack()).sum(level=0)
tstdf3 = pd.get_dummies(tstdf2['requester_subreddits_at_request'].apply(pd.Series).stack()).sum(level=0)

In [128]:
print(df3.shape, tstdf3.shape)

(3311, 7484) (1334, 4431)

In [129]:
print(df2.shape, tstdf2.shape)

(4040, 42) (1631, 42)

In [130]:
df3.head()

,0x10c,0x10cships,1000words,100movies365days,100pushups,100sets,1200isplenty,14thCenturyEngland,15thcenturyproblems,1911,...,yugijerk,yugioh,zeddit,zelda,zen,zoidberg,zombiefortress,zombies,zombiespartyup,zoology
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
tstdf3.head()

,1000words,1920s,195,1985sweet1985,2007scape,2012Elections,24hoursupport,250r,29er,2GOINTR,...,zanarchy,zanarchysubmissions,zelda,zeldaconspiracies,zeldents,zen,zoidberg,zombiemanic,zombies,zombiespartyup
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
df4 = pd.get_dummies(df2['requester_subreddits_at_request'].apply(pd.Series), prefix='', prefix_sep='').sum(level=0, axis=1)
tstdf4 = pd.get_dummies(tstdf2['requester_subreddits_at_request'].apply(pd.Series), prefix='', prefix_sep='').sum(level=0, axis=1)

In [133]:
print(df4.shape, tstdf4.shape)

(4040, 7484) (1631, 4431)

In [134]:
df5 = pd.concat([df2,df4], axis = 1)
tstdf5 = pd.concat([tstdf2,tstdf4], axis = 1)

In [135]:
df5.head()

,giver_username_if_known,request_id,request_text_edit_aware,request_title,requester_account_age_in_days_at_request,requester_days_since_first_post_on_raop_at_request,requester_number_of_comments_at_request,requester_number_of_comments_in_raop_at_request,requester_number_of_posts_at_request,requester_number_of_posts_on_raop_at_request,...,yugijerk,yugioh,zeddit,zelda,zen,zoidberg,zombiefortress,zombies,zombiespartyup,zoology
0,N/A,t3_l25d7,Hi I am in need of food for my 4 children we a...,Request Colorado Springs Help Us Please,0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,N/A,t3_rcb83,I spent the last money I had on gas today. Im ...,"[Request] California, No cash and I could use ...",501.111100,0.000000,0,0,15,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,N/A,t3_lpu5j,My girlfriend decided it would be a good idea ...,"[Request] Hungry couple in Dundee, Scotland wo...",0.000000,0.000000,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,N/A,t3_mxvj3,"It's cold, I'n hungry, and to be completely ho...","[Request] In Canada (Ontario), just got home f...",6.518438,0.000000,36,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,N/A,t3_1i6486,hey guys:\n I love this sub. I think it's grea...,[Request] Old friend coming to visit. Would LO...,162.063252,101.606505,140,2,14,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
df2 = df2[[ 'request_id','friday',
       'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday',
       'evening', 'late_night', 'midday', 'morning', 'april', 'august',
       'december', 'february', 'january', 'july', 'june', 'march', 'may',
       'november', 'october', 'september']]
tstdf2 = tstdf2[[ 'request_id','friday',
       'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday',
       'evening', 'late_night', 'midday', 'morning', 'april', 'august',
       'december', 'february', 'january', 'july', 'june', 'march', 'may',
       'november', 'october', 'september']]

In [137]:
df2.columns

Index(['request_id', 'friday', 'monday', 'saturday', 'sunday', 'thursday',
       'tuesday', 'wednesday', 'evening', 'late_night', 'midday', 'morning',
       'april', 'august', 'december', 'february', 'january', 'july', 'june',
       'march', 'may', 'november', 'october', 'september'],
      dtype='object')

In [138]:
df5 = pd.concat([a['requester_received_pizza'],df2,df4], axis = 1)

In [139]:
df5.head()

,requester_received_pizza,request_id,friday,monday,saturday,sunday,thursday,tuesday,wednesday,evening,...,yugijerk,yugioh,zeddit,zelda,zen,zoidberg,zombiefortress,zombies,zombiespartyup,zoology
0,False,t3_l25d7,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,t3_rcb83,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,False,t3_lpu5j,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,t3_mxvj3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,t3_1i6486,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [140]:
df5.to_json('binarized_categorical_data.json')
tstdf5.to_json('binarized_categorical_test_data.json')

In [141]:
df6 = pd.read_json('binarized_categorical_data.json')
tstdf6 = pd.read_json('binarized_categorical_test_data.json')

In [142]:
df6[['requester_received_pizza','monday','april','december','midday']].head()

     requester_received_pizza  monday  april  december  midday
0                       False       0      0         0       1
1                       False       0      0         0       0
10                       True       0      0         0       0
100                     False       0      1         0       1
1000                    False       0      0         0       0

In [143]:
del df6['request_id']
print(df6.shape)

(4040, 7508)

In [144]:
del tstdf6['request_id']
print(tstdf6.shape)

(1631, 4472)

Divide the Binarized Categorical Data - Train into Train and Dev datasets - We will use the Dev dataset for testing the accuracy of the prediction

In [145]:
df6_labels = df6['requester_received_pizza']
del df6['requester_received_pizza']
df6_data = df6

bincat_train_data = df6_data[0:2019]
bincat_train_labels = df6_labels[0:2019]
bincat_test_data = df6_data[2020:]
bincat_test_labels = df6_labels[2020:]

print(bincat_train_data.shape, bincat_test_data.shape, bincat_train_labels.shape, bincat_test_labels.shape)

(2019, 7507) (2020, 7507) (2019,) (2020,)

We run a series of experiments to find the model that gives the best accuracy with no more than 50 parameters.

In [146]:
def calc_param(n_features, n_components, covtype, classes):
## Function to compute the total parameters for model
   if covtype == 'full': #Covariance Parameters (n_components, n_features, n_features) Symmetric matrix
        totparam = (n_features*n_components + (n_features*(n_features+1)/2)*n_components)*classes
   elif covtype == 'diag': #Covariance Parameters (n_components, n_features)    
        totparam = (n_features*n_components + n_features*n_components)*classes
   elif covtype == 'spherical': #Covariance Parameters = (n_components,)
        totparam = (n_features*n_components + 1)*classes
   elif covtype == 'tied': #Covariance Parameters (n_features, n_features)  Symmetric matrix
        totparam = (n_features*n_components + (n_features*(n_features+1)/2))*classes
   else:
      print('Invalid Covariance Type %s'%(covtype))
    
   return totparam

def P6():
### STUDENT START ###
    cov_matrix = ['spherical', 'diag', 'tied', 'full'] #Initialize list of covariance types 
    modelnum = 0 #Initialize model number
#Loop through to run a series of experiments to find the model that gives the best accuracy with no more than 50 parameters
    for comp in range(1,8): #Vary the Principal components between 1 and 8
        #Project the train data onto the reduced Principal component subspace
        sklearn_pca = PCA(n_components=comp)
        sklearn_transf = sklearn_pca.fit_transform(bincat_train_data)
        #Divide the projected data into positive and negative class datasets
        positive_train_data = sklearn_transf[bincat_train_labels == True]
        negative_train_data = sklearn_transf[bincat_train_labels == False]
        
        for GMMcomp in range(1,8): #Vary the Gaussian Mixture model components between 1 and 8
          for covtype in cov_matrix: #Loop thru the 4 covariance types for the PCA and GMM components
            totparam = calc_param(comp, GMMcomp, covtype, 2) #Calculate the total parameters for model
            modelnum += 1 #Increment the model number
            if totparam <= 50: #Validate that the total parameters for model is <= 50
            #Train the GMM positive and negative models on the positive and negative datasets respectively
                   gm_mod_pos = GMM(n_components = GMMcomp, covariance_type=covtype)
                   gm_mod_pos.fit(positive_train_data)
                   gm_mod_neg = GMM(n_components = GMMcomp, covariance_type=covtype)
                   gm_mod_neg.fit(negative_train_data)
            #Score the trained model on the test dataset
                   sklearn_test_transf = sklearn_pca.transform(bincat_test_data)
                   pscore = gm_mod_pos.score(sklearn_test_transf)
                   nscore = gm_mod_neg.score(sklearn_test_transf)
           
            #Loop to determine the predicted labels of the test data based on the trained model
                   preds = []
                   for pos, neg in zip(pscore, nscore):
                        if pos > neg: preds.append(1)
                        else: preds.append(0)
            
            #Loop to compare the predicted label with the actual label to determine the no of correct answers
                   correct = 0
                   for pred, label in zip(preds, bincat_test_labels):
                        if pred == label: correct +=1
            #Calculate and print the accuracy of the model
                   print('%d Parameters %d PCA Comp %d GMM Comp %d Cov Matrix %s Accuracy is\t %.2f%%'% (modelnum, totparam, comp, GMMcomp, covtype, (100.0*correct/len(bincat_test_labels))))
            else: #If total parameters > 50 skip
                   print('%d Parameters %d PCA Comp %d GMM Comp %d Cov Matrix %s exceeds 50 params'% (modelnum, totparam, comp, GMMcomp, covtype))

            
### STUDENT END ###

P6()

/Users/jayashreeraman/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:26: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
/Users/jayashreeraman/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:27: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index

1 Parameters 4 PCA Comp 1 GMM Comp 1 Cov Matrix spherical Accuracy is	 53.27%
2 Parameters 4 PCA Comp 1 GMM Comp 1 Cov Matrix diag Accuracy is	 53.27%
3 Parameters 4 PCA Comp 1 GMM Comp 1 Cov Matrix tied Accuracy is	 53.27%
4 Parameters 4 PCA Comp 1 GMM Comp 1 Cov Matrix full Accuracy is	 53.27%
5 Parameters 6 PCA Comp 1 GMM Comp 2 Cov Matrix spherical Accuracy is	 53.27%
6 Parameters 8 PCA Comp 1 GMM Comp 2 Cov Matrix diag Accuracy is	 53.27%
7 Parameters 6 PCA Comp 1 GMM Comp 2 Cov Matrix tied Accuracy is	 53.27%
8 Parameters 8 PCA Comp 1 GMM Comp 2 Cov Matrix full Accuracy is	 53.27%
9 Parameters 8 PCA Comp 1 GMM Comp 3 Cov Matrix spherical Accuracy is	 53.27%
10 Parameters 12 PCA Comp 1 GMM Comp 3 Cov Matrix diag Accuracy is	 53.27%
11 Parameters 8 PCA Comp 1 GMM Comp 3 Cov Matrix tied Accuracy is	 53.27%
12 Parameters 12 PCA Comp 1 GMM Comp 3 Cov Matrix full Accuracy is	 53.27%
13 Parameters 10 PCA Comp 1 GMM Comp 4 Cov Matrix spherical Accuracy is	 53.27%
14 Parameters 16 PCA Comp 1 GMM Comp 4 Cov Matrix diag Accuracy is	 53.27%
15 Parameters 10 PCA Comp 1 GMM Comp 4 Cov Matrix tied Accuracy is	 53.27%
16 Parameters 16 PCA Comp 1 GMM Comp 4 Cov Matrix full Accuracy is	 53.27%
17 Parameters 12 PCA Comp 1 GMM Comp 5 Cov Matrix spherical Accuracy is	 53.27%
18 Parameters 20 PCA Comp 1 GMM Comp 5 Cov Matrix diag Accuracy is	 53.27%
19 Parameters 12 PCA Comp 1 GMM Comp 5 Cov Matrix tied Accuracy is	 53.27%
20 Parameters 20 PCA Comp 1 GMM Comp 5 Cov Matrix full Accuracy is	 53.27%
21 Parameters 14 PCA Comp 1 GMM Comp 6 Cov Matrix spherical Accuracy is	 53.27%
22 Parameters 24 PCA Comp 1 GMM Comp 6 Cov Matrix diag Accuracy is	 53.27%
23 Parameters 14 PCA Comp 1 GMM Comp 6 Cov Matrix tied Accuracy is	 53.27%
24 Parameters 24 PCA Comp 1 GMM Comp 6 Cov Matrix full Accuracy is	 53.27%
25 Parameters 16 PCA Comp 1 GMM Comp 7 Cov Matrix spherical Accuracy is	 53.27%
26 Parameters 28 PCA Comp 1 GMM Comp 7 Cov Matrix diag Accuracy is	 53.27%
27 Parameters 16 PCA Comp 1 GMM Comp 7 Cov Matrix tied Accuracy is	 53.27%
28 Parameters 28 PCA Comp 1 GMM Comp 7 Cov Matrix full Accuracy is	 53.27%
29 Parameters 6 PCA Comp 2 GMM Comp 1 Cov Matrix spherical Accuracy is	 60.94%
30 Parameters 8 PCA Comp 2 GMM Comp 1 Cov Matrix diag Accuracy is	 62.82%
31 Parameters 10 PCA Comp 2 GMM Comp 1 Cov Matrix tied Accuracy is	 60.94%
32 Parameters 10 PCA Comp 2 GMM Comp 1 Cov Matrix full Accuracy is	 60.94%
33 Parameters 10 PCA Comp 2 GMM Comp 2 Cov Matrix spherical Accuracy is	 60.94%
34 Parameters 16 PCA Comp 2 GMM Comp 2 Cov Matrix diag Accuracy is	 60.94%
35 Parameters 14 PCA Comp 2 GMM Comp 2 Cov Matrix tied Accuracy is	 60.94%
36 Parameters 20 PCA Comp 2 GMM Comp 2 Cov Matrix full Accuracy is	 60.94%
37 Parameters 14 PCA Comp 2 GMM Comp 3 Cov Matrix spherical Accuracy is	 60.94%
38 Parameters 24 PCA Comp 2 GMM Comp 3 Cov Matrix diag Accuracy is	 60.94%
39 Parameters 18 PCA Comp 2 GMM Comp 3 Cov Matrix tied Accuracy is	 60.94%
40 Parameters 30 PCA Comp 2 GMM Comp 3 Cov Matrix full Accuracy is	 60.94%
41 Parameters 18 PCA Comp 2 GMM Comp 4 Cov Matrix spherical Accuracy is	 60.94%
42 Parameters 32 PCA Comp 2 GMM Comp 4 Cov Matrix diag Accuracy is	 60.94%
43 Parameters 22 PCA Comp 2 GMM Comp 4 Cov Matrix tied Accuracy is	 60.94%
44 Parameters 40 PCA Comp 2 GMM Comp 4 Cov Matrix full Accuracy is	 60.94%
45 Parameters 22 PCA Comp 2 GMM Comp 5 Cov Matrix spherical Accuracy is	 60.94%
46 Parameters 40 PCA Comp 2 GMM Comp 5 Cov Matrix diag Accuracy is	 60.94%
47 Parameters 26 PCA Comp 2 GMM Comp 5 Cov Matrix tied Accuracy is	 60.94%
48 Parameters 50 PCA Comp 2 GMM Comp 5 Cov Matrix full Accuracy is	 60.94%
49 Parameters 26 PCA Comp 2 GMM Comp 6 Cov Matrix spherical Accuracy is	 60.94%
50 Parameters 48 PCA Comp 2 GMM Comp 6 Cov Matrix diag Accuracy is	 60.94%
51 Parameters 30 PCA Comp 2 GMM Comp 6 Cov Matrix tied Accuracy is	 60.94%
52 Parameters 60 PCA Comp 2 GMM Comp 6 Cov Matrix full exceeds 50 params
53 Parameters 30 PCA Comp 2 GMM Comp 7 Cov Matrix spherical Accuracy is	 60.94%
54 Parameters 56 PCA Comp 2 GMM Comp 7 Cov Matrix diag exceeds 50 params
55 Parameters 34 PCA Comp 2 GMM Comp 7 Cov Matrix tied Accuracy is	 60.94%
56 Parameters 70 PCA Comp 2 GMM Comp 7 Cov Matrix full exceeds 50 params
57 Parameters 8 PCA Comp 3 GMM Comp 1 Cov Matrix spherical Accuracy is	 60.50%
58 Parameters 12 PCA Comp 3 GMM Comp 1 Cov Matrix diag Accuracy is	 58.56%
59 Parameters 18 PCA Comp 3 GMM Comp 1 Cov Matrix tied Accuracy is	 60.50%
60 Parameters 18 PCA Comp 3 GMM Comp 1 Cov Matrix full Accuracy is	 60.50%
61 Parameters 14 PCA Comp 3 GMM Comp 2 Cov Matrix spherical Accuracy is	 60.50%
62 Parameters 24 PCA Comp 3 GMM Comp 2 Cov Matrix diag Accuracy is	 60.50%
63 Parameters 24 PCA Comp 3 GMM Comp 2 Cov Matrix tied Accuracy is	 60.50%
64 Parameters 36 PCA Comp 3 GMM Comp 2 Cov Matrix full Accuracy is	 60.50%
65 Parameters 20 PCA Comp 3 GMM Comp 3 Cov Matrix spherical Accuracy is	 60.50%
66 Parameters 36 PCA Comp 3 GMM Comp 3 Cov Matrix diag Accuracy is	 60.50%
67 Parameters 30 PCA Comp 3 GMM Comp 3 Cov Matrix tied Accuracy is	 60.50%
68 Parameters 54 PCA Comp 3 GMM Comp 3 Cov Matrix full exceeds 50 params
69 Parameters 26 PCA Comp 3 GMM Comp 4 Cov Matrix spherical Accuracy is	 60.50%
70 Parameters 48 PCA Comp 3 GMM Comp 4 Cov Matrix diag Accuracy is	 60.50%
71 Parameters 36 PCA Comp 3 GMM Comp 4 Cov Matrix tied Accuracy is	 60.50%
72 Parameters 72 PCA Comp 3 GMM Comp 4 Cov Matrix full exceeds 50 params
73 Parameters 32 PCA Comp 3 GMM Comp 5 Cov Matrix spherical Accuracy is	 60.50%
74 Parameters 60 PCA Comp 3 GMM Comp 5 Cov Matrix diag exceeds 50 params
75 Parameters 42 PCA Comp 3 GMM Comp 5 Cov Matrix tied Accuracy is	 60.50%
76 Parameters 90 PCA Comp 3 GMM Comp 5 Cov Matrix full exceeds 50 params
77 Parameters 38 PCA Comp 3 GMM Comp 6 Cov Matrix spherical Accuracy is	 60.50%
78 Parameters 72 PCA Comp 3 GMM Comp 6 Cov Matrix diag exceeds 50 params
79 Parameters 48 PCA Comp 3 GMM Comp 6 Cov Matrix tied Accuracy is	 60.50%
80 Parameters 108 PCA Comp 3 GMM Comp 6 Cov Matrix full exceeds 50 params
81 Parameters 44 PCA Comp 3 GMM Comp 7 Cov Matrix spherical Accuracy is	 60.50%
82 Parameters 84 PCA Comp 3 GMM Comp 7 Cov Matrix diag exceeds 50 params
83 Parameters 54 PCA Comp 3 GMM Comp 7 Cov Matrix tied exceeds 50 params
84 Parameters 126 PCA Comp 3 GMM Comp 7 Cov Matrix full exceeds 50 params
85 Parameters 10 PCA Comp 4 GMM Comp 1 Cov Matrix spherical Accuracy is	 61.39%
86 Parameters 16 PCA Comp 4 GMM Comp 1 Cov Matrix diag Accuracy is	 61.44%
87 Parameters 28 PCA Comp 4 GMM Comp 1 Cov Matrix tied Accuracy is	 61.39%
88 Parameters 28 PCA Comp 4 GMM Comp 1 Cov Matrix full Accuracy is	 61.39%
89 Parameters 18 PCA Comp 4 GMM Comp 2 Cov Matrix spherical Accuracy is	 61.39%
90 Parameters 32 PCA Comp 4 GMM Comp 2 Cov Matrix diag Accuracy is	 61.39%
91 Parameters 36 PCA Comp 4 GMM Comp 2 Cov Matrix tied Accuracy is	 61.39%
92 Parameters 56 PCA Comp 4 GMM Comp 2 Cov Matrix full exceeds 50 params
93 Parameters 26 PCA Comp 4 GMM Comp 3 Cov Matrix spherical Accuracy is	 61.39%
94 Parameters 48 PCA Comp 4 GMM Comp 3 Cov Matrix diag Accuracy is	 61.39%
95 Parameters 44 PCA Comp 4 GMM Comp 3 Cov Matrix tied Accuracy is	 61.39%
96 Parameters 84 PCA Comp 4 GMM Comp 3 Cov Matrix full exceeds 50 params
97 Parameters 34 PCA Comp 4 GMM Comp 4 Cov Matrix spherical Accuracy is	 61.39%
98 Parameters 64 PCA Comp 4 GMM Comp 4 Cov Matrix diag exceeds 50 params
99 Parameters 52 PCA Comp 4 GMM Comp 4 Cov Matrix tied exceeds 50 params
100 Parameters 112 PCA Comp 4 GMM Comp 4 Cov Matrix full exceeds 50 params
101 Parameters 42 PCA Comp 4 GMM Comp 5 Cov Matrix spherical Accuracy is	 61.39%
102 Parameters 80 PCA Comp 4 GMM Comp 5 Cov Matrix diag exceeds 50 params
103 Parameters 60 PCA Comp 4 GMM Comp 5 Cov Matrix tied exceeds 50 params
104 Parameters 140 PCA Comp 4 GMM Comp 5 Cov Matrix full exceeds 50 params
105 Parameters 50 PCA Comp 4 GMM Comp 6 Cov Matrix spherical Accuracy is	 61.39%
106 Parameters 96 PCA Comp 4 GMM Comp 6 Cov Matrix diag exceeds 50 params
107 Parameters 68 PCA Comp 4 GMM Comp 6 Cov Matrix tied exceeds 50 params
108 Parameters 168 PCA Comp 4 GMM Comp 6 Cov Matrix full exceeds 50 params
109 Parameters 58 PCA Comp 4 GMM Comp 7 Cov Matrix spherical exceeds 50 params
110 Parameters 112 PCA Comp 4 GMM Comp 7 Cov Matrix diag exceeds 50 params
111 Parameters 76 PCA Comp 4 GMM Comp 7 Cov Matrix tied exceeds 50 params
112 Parameters 196 PCA Comp 4 GMM Comp 7 Cov Matrix full exceeds 50 params
113 Parameters 12 PCA Comp 5 GMM Comp 1 Cov Matrix spherical Accuracy is	 61.53%
114 Parameters 20 PCA Comp 5 GMM Comp 1 Cov Matrix diag Accuracy is	 61.09%
115 Parameters 40 PCA Comp 5 GMM Comp 1 Cov Matrix tied Accuracy is	 61.53%
116 Parameters 40 PCA Comp 5 GMM Comp 1 Cov Matrix full Accuracy is	 61.53%
117 Parameters 22 PCA Comp 5 GMM Comp 2 Cov Matrix spherical Accuracy is	 61.53%
118 Parameters 40 PCA Comp 5 GMM Comp 2 Cov Matrix diag Accuracy is	 61.53%
119 Parameters 50 PCA Comp 5 GMM Comp 2 Cov Matrix tied Accuracy is	 61.53%
120 Parameters 80 PCA Comp 5 GMM Comp 2 Cov Matrix full exceeds 50 params
121 Parameters 32 PCA Comp 5 GMM Comp 3 Cov Matrix spherical Accuracy is	 61.53%
122 Parameters 60 PCA Comp 5 GMM Comp 3 Cov Matrix diag exceeds 50 params
123 Parameters 60 PCA Comp 5 GMM Comp 3 Cov Matrix tied exceeds 50 params
124 Parameters 120 PCA Comp 5 GMM Comp 3 Cov Matrix full exceeds 50 params
125 Parameters 42 PCA Comp 5 GMM Comp 4 Cov Matrix spherical Accuracy is	 61.53%
126 Parameters 80 PCA Comp 5 GMM Comp 4 Cov Matrix diag exceeds 50 params
127 Parameters 70 PCA Comp 5 GMM Comp 4 Cov Matrix tied exceeds 50 params
128 Parameters 160 PCA Comp 5 GMM Comp 4 Cov Matrix full exceeds 50 params
129 Parameters 52 PCA Comp 5 GMM Comp 5 Cov Matrix spherical exceeds 50 params
130 Parameters 100 PCA Comp 5 GMM Comp 5 Cov Matrix diag exceeds 50 params
131 Parameters 80 PCA Comp 5 GMM Comp 5 Cov Matrix tied exceeds 50 params
132 Parameters 200 PCA Comp 5 GMM Comp 5 Cov Matrix full exceeds 50 params
133 Parameters 62 PCA Comp 5 GMM Comp 6 Cov Matrix spherical exceeds 50 params
134 Parameters 120 PCA Comp 5 GMM Comp 6 Cov Matrix diag exceeds 50 params
135 Parameters 90 PCA Comp 5 GMM Comp 6 Cov Matrix tied exceeds 50 params
136 Parameters 240 PCA Comp 5 GMM Comp 6 Cov Matrix full exceeds 50 params
137 Parameters 72 PCA Comp 5 GMM Comp 7 Cov Matrix spherical exceeds 50 params
138 Parameters 140 PCA Comp 5 GMM Comp 7 Cov Matrix diag exceeds 50 params
139 Parameters 100 PCA Comp 5 GMM Comp 7 Cov Matrix tied exceeds 50 params
140 Parameters 280 PCA Comp 5 GMM Comp 7 Cov Matrix full exceeds 50 params
141 Parameters 14 PCA Comp 6 GMM Comp 1 Cov Matrix spherical Accuracy is	 61.44%
142 Parameters 24 PCA Comp 6 GMM Comp 1 Cov Matrix diag Accuracy is	 51.68%
143 Parameters 54 PCA Comp 6 GMM Comp 1 Cov Matrix tied exceeds 50 params
144 Parameters 54 PCA Comp 6 GMM Comp 1 Cov Matrix full exceeds 50 params
145 Parameters 26 PCA Comp 6 GMM Comp 2 Cov Matrix spherical Accuracy is	 61.44%
146 Parameters 48 PCA Comp 6 GMM Comp 2 Cov Matrix diag Accuracy is	 61.44%
147 Parameters 66 PCA Comp 6 GMM Comp 2 Cov Matrix tied exceeds 50 params
148 Parameters 108 PCA Comp 6 GMM Comp 2 Cov Matrix full exceeds 50 params
149 Parameters 38 PCA Comp 6 GMM Comp 3 Cov Matrix spherical Accuracy is	 61.44%
150 Parameters 72 PCA Comp 6 GMM Comp 3 Cov Matrix diag exceeds 50 params
151 Parameters 78 PCA Comp 6 GMM Comp 3 Cov Matrix tied exceeds 50 params
152 Parameters 162 PCA Comp 6 GMM Comp 3 Cov Matrix full exceeds 50 params
153 Parameters 50 PCA Comp 6 GMM Comp 4 Cov Matrix spherical Accuracy is	 61.44%
154 Parameters 96 PCA Comp 6 GMM Comp 4 Cov Matrix diag exceeds 50 params
155 Parameters 90 PCA Comp 6 GMM Comp 4 Cov Matrix tied exceeds 50 params
156 Parameters 216 PCA Comp 6 GMM Comp 4 Cov Matrix full exceeds 50 params
157 Parameters 62 PCA Comp 6 GMM Comp 5 Cov Matrix spherical exceeds 50 params
158 Parameters 120 PCA Comp 6 GMM Comp 5 Cov Matrix diag exceeds 50 params
159 Parameters 102 PCA Comp 6 GMM Comp 5 Cov Matrix tied exceeds 50 params
160 Parameters 270 PCA Comp 6 GMM Comp 5 Cov Matrix full exceeds 50 params
161 Parameters 74 PCA Comp 6 GMM Comp 6 Cov Matrix spherical exceeds 50 params
162 Parameters 144 PCA Comp 6 GMM Comp 6 Cov Matrix diag exceeds 50 params
163 Parameters 114 PCA Comp 6 GMM Comp 6 Cov Matrix tied exceeds 50 params
164 Parameters 324 PCA Comp 6 GMM Comp 6 Cov Matrix full exceeds 50 params
165 Parameters 86 PCA Comp 6 GMM Comp 7 Cov Matrix spherical exceeds 50 params
166 Parameters 168 PCA Comp 6 GMM Comp 7 Cov Matrix diag exceeds 50 params
167 Parameters 126 PCA Comp 6 GMM Comp 7 Cov Matrix tied exceeds 50 params
168 Parameters 378 PCA Comp 6 GMM Comp 7 Cov Matrix full exceeds 50 params
169 Parameters 16 PCA Comp 7 GMM Comp 1 Cov Matrix spherical Accuracy is	 61.49%
170 Parameters 28 PCA Comp 7 GMM Comp 1 Cov Matrix diag Accuracy is	 50.50%
171 Parameters 70 PCA Comp 7 GMM Comp 1 Cov Matrix tied exceeds 50 params
172 Parameters 70 PCA Comp 7 GMM Comp 1 Cov Matrix full exceeds 50 params
173 Parameters 30 PCA Comp 7 GMM Comp 2 Cov Matrix spherical Accuracy is	 61.49%
174 Parameters 56 PCA Comp 7 GMM Comp 2 Cov Matrix diag exceeds 50 params
175 Parameters 84 PCA Comp 7 GMM Comp 2 Cov Matrix tied exceeds 50 params
176 Parameters 140 PCA Comp 7 GMM Comp 2 Cov Matrix full exceeds 50 params
177 Parameters 44 PCA Comp 7 GMM Comp 3 Cov Matrix spherical Accuracy is	 61.49%
178 Parameters 84 PCA Comp 7 GMM Comp 3 Cov Matrix diag exceeds 50 params
179 Parameters 98 PCA Comp 7 GMM Comp 3 Cov Matrix tied exceeds 50 params
180 Parameters 210 PCA Comp 7 GMM Comp 3 Cov Matrix full exceeds 50 params
181 Parameters 58 PCA Comp 7 GMM Comp 4 Cov Matrix spherical exceeds 50 params
182 Parameters 112 PCA Comp 7 GMM Comp 4 Cov Matrix diag exceeds 50 params
183 Parameters 112 PCA Comp 7 GMM Comp 4 Cov Matrix tied exceeds 50 params
184 Parameters 280 PCA Comp 7 GMM Comp 4 Cov Matrix full exceeds 50 params
185 Parameters 72 PCA Comp 7 GMM Comp 5 Cov Matrix spherical exceeds 50 params
186 Parameters 140 PCA Comp 7 GMM Comp 5 Cov Matrix diag exceeds 50 params
187 Parameters 126 PCA Comp 7 GMM Comp 5 Cov Matrix tied exceeds 50 params
188 Parameters 350 PCA Comp 7 GMM Comp 5 Cov Matrix full exceeds 50 params
189 Parameters 86 PCA Comp 7 GMM Comp 6 Cov Matrix spherical exceeds 50 params
190 Parameters 168 PCA Comp 7 GMM Comp 6 Cov Matrix diag exceeds 50 params
191 Parameters 140 PCA Comp 7 GMM Comp 6 Cov Matrix tied exceeds 50 params
192 Parameters 420 PCA Comp 7 GMM Comp 6 Cov Matrix full exceeds 50 params
193 Parameters 100 PCA Comp 7 GMM Comp 7 Cov Matrix spherical exceeds 50 params
194 Parameters 196 PCA Comp 7 GMM Comp 7 Cov Matrix diag exceeds 50 params
195 Parameters 154 PCA Comp 7 GMM Comp 7 Cov Matrix tied exceeds 50 params
196 Parameters 490 PCA Comp 7 GMM Comp 7 Cov Matrix full exceeds 50 params

Best accuracy for this model is :Parameters 8 PCA Comp 2 GMM Comp 1 Cov Matrix diag Accuracy is	 62.82%

We try a Random Forest classifier on the binarized categorical data

In [147]:
clf2 = RandomForestClassifier(n_estimators=12)
clf2.fit(bincat_train_data, bincat_train_labels)

preds2 = clf2.predict(bincat_test_data)

print(classification_report(bincat_test_labels,preds2))

print(metrics.accuracy_score(bincat_test_labels,preds2))

             precision    recall  f1-score   support

      False       0.76      0.95      0.84      1519
       True       0.35      0.07      0.12       501

avg / total       0.66      0.74      0.67      2020

0.736138613861